- page_title 'Lists'

%h1 Lists for #{current_organization.name}

#show_member_list
  / - if @list.list_type == 'announcement'
  /  * checkbox indicates approved sender
  %table#list_list.default.linked
    %thead
      %th
      %th.num Contacts
      %th.num Messages
    %tbody
      = render @lists

%br
%p= link_to add_icon('Add new list', :add), new_list_path, class: 'button'