%h3 NEW MESSAGE
%br
#message_preview
  #compose_message_body
    = text_area_tag('message_body', '', { id: 'message_body_textarea', size: '45x4', class: 'count_characters' })
%br
%span#character_count


