%h3 New Message 
%br
#message_preview
#compose_message_body= text_area_tag('message_body', '', {:id => 'message_body_textarea', :size => '45x4', :onkeyup => "countMessageBody(this)"})
%br
%span#character_count


