%p
  foo
  %button{:type => 'submit', :class => 'send-image', :onclick => send_message_onclick(@list.id)}
  = image_tag("horizontal_spinner.gif", :id => 'send_message_spinner', :style => 'display: none')
