%h3 Recent Messages 
%ul#message_list.messages
  - if @list 
    = render partial: 'messages/message', collection: @list.most_recent_messages(40), locals: {show_list: false}
  - else
    = render partial: 'messages/message', collection: Message.find_by_message_state_id(3, order: 'created_at DESC')
