= custom_form_for(@message, url:  send_message_path(list_id: @list.id)) do |f|
  #message_body
    %h3 NEW MESSAGE
    = f.input :body, as: :text, label: false, input_html: { id: 'message_body_textarea', size: '45x4', class: 'count_characters', 'data-meta-length' => @list.calculate_meta_length(PhoneNumber.new) }
    / Using blank phone number; web messages currently have no 'from' number
    %span#character_count{title: 'Length available after message prefix/suffix are added'}
  #message_button
    = submit_button "Send now"
