- content_for :main_box_content do

  #message_body
    = render :partial => 'message_body'
  #message_button
    = image_submit_tag('send.png', id: 'send-button', 'data-list_id' => @list.id)
  #waiting
    = image_tag("horizontal_spinner.gif", :id => 'send_message_spinner', :style => 'display: none')

