log/
tmp/
public/system
*.sqlite3
*.swp
config/database.yml
config/settings/production.yml
config/settings/development.yml

bin/
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
