<h1>Twilio phone reminder demo</h1>
<h2 style="color: #ff0000"><%= params['msg'] %></h2>
<h3>Enter your phone number to receive an automated reminder</h3>
<form action="/appointmentreminder/makecall" method="post">
    <input type="text" name="number" />
    <input type="submit" value="Call me!">
</form>
