%p Hi! You've been invited to sign up for a Switchboard account with #{@organization.name}.

%p
  Click this link to sign up:
  = link_to registration_invited_url(@invitation.token), registration_invited_url(@invitation.token)