.page {
  p {
    line-height: 1.5em;
    margin-bottom: 1.5em;
    
    a {
      text-decoration: underline;
    }
  }
  h2 {
    font-size: 24px!important;
  }
  p.subhead {
    font-weight: bold;
  }
}