#create_list {
  display: inline;
}

#selectlist {
  padding: 5px;
  border: 1.5px solid grey;
  margin-right: 20px;
  margin-top: 20px;
  li {
    padding: 3px;
    margin: 1px;
    &:hover {
      cursor: default;
      background-color: #aaa;
    }
  }
}

.choose_list_icon {
  float: right;
}

.remove_member_icon {
  float: right;
  display: none;
}

#member_list {
  li {
    padding: 3px;
    &:hover {
      cursor: default;
      background-color: #aaa; 
      .remove_member_icon {
        display: inline;
      }
    }
  }
}

.toggle {
  span {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 8px;
    margin-top: -25px;
  }
  &:hover {
    span {
      display: inline;
    }
  }
}

#show_member_list {
  width: 350px;
  padding: 5px;
  float: left;
  margin-top: 20px;
}

#send_message_button {
  margin-top: 20px;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid black;
  font-size: 2em;
  font-family: sans-serif;
  cursor: pointer;
  width: 150px; 
  text-align: center;
  &:hover {
    background-color: #99FFFF;
  }
}

#confirmed_send_message_button {
  float: right;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid black;
  font-size: 2em;
  font-family: sans-serif;
  cursor: pointer;
  width: 150px;
  text-align: center;
  &:hover {
    background-color: #99FFFF;
  }
}

.config_heading {
  font-size: 1.25em;
}

.create_list_options {
  padding: 5px;
  li {
    padding: 5px;
    .list_option {
      font-weight: bold;
    }
  }
}
  
#character_count {
  float: right;
}

.dinpro {
  font-family: 'DINPro', Arial, sans-serif;
}

#message_body_preview {
  border: 4px solid grey;
  padding: 8px;
  margin: 5px;
}
