#top_nav {
  display: inline;
  ul {
    @include inline_list;
    li {
      margin: 0;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      padding: 5px;
    }
  }
}

#menu {
  float: right;
  display: block;
  width: 263px;
  height: 350px;
}

#sidebar_message_list {
  ul {
    height: 150px;
    overflow: hidden;
    margin: 10px 0 15px 0;
    li {
      margin-top: 5px;
    }
  }
  p.next {
    text-align: center;
  }
  border: 3px solid black;
  width: 90%;
  margin-left: -10px;
  padding: 10px;
  height: 225px;
  background-color: white;
}
