#buttons {
  li {
    text-align: center;
    display: inline;
    float: left;
    a {
      display: inline-block;
      width: 263px;
      padding: 15px 0 15px 0;
      background-color: #00FF33;
      border-bottom: 1px solid black;
      color: black;
      font-weight: bold;
      font-family: sans-serif;
      &.middle {
        border-right: 1px solid black;
        border-left: 1px solid black;
      }
      &:hover {
        background-color: #006600;
      }
    }
  }
}

#menu {
  #list_name {
    margin: 10px 0 0 0;
  }
  float: right;
  display: block;
  width: 263px;
  height: 350px;
  #switch_list {
    color: white;
    background-color: #660000;
    padding: 5px;
    border: 1px solid black;
    &:hover {
      span {
        display: inline;
      }
    }
    a {  
      color: white; 
    }
    span {
      display: none;
      z-index: 100;
      position: absolute;
      margin-top: 20px;
      margin-left: -110px;
      width: 263px;
      li {
        a {
          color: black;
        }
        background-color: #CC0000;
        padding: 5px;
        border: 1px solid white;
      }
    }
  }
}

#sidebar_message_list {
  ul {
    height: 150px;
    overflow: hidden;
    margin: 10px 0 15px 0;
    li {
      margin-top: 5px;
    }
  }
  p.next {
    text-align: center;
  }
  border: 3px solid black;
  width: 90%;
  margin-left: -10px;
  padding: 10px;
  height: 225px;
  background-color: white;
}
