#top_nav {
  display: inline;
  ul {
    @include inline_list;
    li {
      margin: 0;
      border-left: 1px solid black;
      border-right: 1px solid black;
      border-bottom: 1px solid black;
      padding: 5px;
    }
  }
}

