body
  text-align: center

#masthead
  margin: 20px auto
  background-color: #fff
  height: 50px
  border: 1px solid black
  width: 790px
  padding: 5px
  text-align: left

#flash_messages_container
  margin: 20px auto
  padding: 5px
  border: 1px solid red

#content_container
  margin: 20px auto
  padding: 5px
  border: 1px solid black
  background: #eee
  width: 790px
  text-align: left

#footer
  margin: 20px
  width: 790px

#content
  margin: 15px
  border: 1px solid black
  width: 750px
  padding-bottom: 20px
  height: 400px

#select_list
  top: 10px
  width: 200px
  float: left
  //margin-left: -250px
  position: relative
  padding-left: 10px
  height: 300px

h3
  margin-top: 5px
  margin-bottom: 10px
  display: inline

#col2
  top: auto 
  width: 275px
  left: auto
  position: absolute 
  display: inline
  padding: 5px
  //float: left

#col3
  top: 10px
  width: 275px
  float: right
  position: relative
  //margin-left: 500px

.active
  background: #fff

p
  margin: 5px 10px

textarea
  margin-top: 20px

.active_list
  background: #aaa
