body
  text-align: center

#masthead
  margin: 10px auto 0 auto
  background-color: #fff
  height: 50px
  border: 1px solid black
  border-bottom: 0px
  width: 791px
  text-align: left

.flash_notice
  text-align: left
  margin: 0 auto
  border: 1px solid red
  width: 792px
  display: none

#content_container
  margin: 0 auto
  border: 1px solid black
  background: #eee
  width: 791px
  text-align: left

#footer
  margin: 20px
  width: 792px
  margin: 20px auto

#logout
  float: right

#content
  margin: 15px
  padding-bottom: 20px
  width: 500px
  height: 500px

#select_list
  top: 10px
  width: 200px
  float: left
  position: relative
  padding-left: 10px
  height: 500px
  overflow: auto

h3
  margin-top: 5px
  margin-bottom: 10px
  display: inline
  font-size: 1.5em

.active
  background: #fff

p
  margin: 5px 10px

textarea
  margin-top: 20px

.active_list
  background: #aaa

a
  text-decoration: none
