#buttons
  %ul.main-menu
    %li
      %a.message{:href => compose_message_link}
        %span + NEW MESSAGE
    %li
      %a.user{:href => add_user_link}
        %span + NEW USER
    %li
      #menu
        #switch_list
          = link_to '', lists_path, class: 'lists'
          %span
            %ul
              %li.switch= link_to 'Create New List', new_list_url
      
