#buttons
  %ul
    %li
      %a{:href => compose_message_link} + NEW MESSAGE
    %li
      %a{:href => add_user_link, :class => 'middle'} + NEW USER
    %li
      %a{:href => dashboard_link} - DASHBOARD
