#buttons
  %ul
    %li.main-menu
      %a.message{:href => compose_message_link}
        %span + NEW MESSAGE
    %li.main-menu
      %a.user{:href => add_user_link}
        %span + NEW USER
    = render :partial => '/admin/menu'
      
