#buttons
  %ul.main-menu
    %li
      %a.message{href: @list ? new_list_message_path(@list) : "javascript:alert('Select a list before composing a message.')"}
        %span + NEW MESSAGE
    %li
      %a.user{href: @list ? new_list_contact_path(@list) : "javascript:alert('Select a list before adding a contact.')"}
        %span + NEW USER
    %li
      #menu
        #switch_list
          = link_to '', lists_path, class: 'lists'
          %span
            %ul
              %li.switch= link_to 'Create New List', new_list_url
      
