- controller = controller.nil? ? 'admin' : controller
%h3 
  Which List?
  = image_tag("spinner.gif", :id => 'which_list_spinner', :style => 'display: none')
#selectlist
  %ul
    = select_list(action, controller)
