%li{:onclick => select_list_onclick(list.id, action, controller), :id => "list_id_#{list.id}", :class => list_class(list.id)}
  = list.name
  %span.choose_list_icon
    = image_tag("icons/arrow_right.png")
