#menu
  - if @list
    %h3= @list.name
    %ul
      %li 
        %a{:href => '/admin/manage'} Change Lists
      %li
        %a{:href => new_list_path} Create New List
    %br
    %hr
    %br
    %ul
      %li
        %a{:href => edit_list_path(@list)} Settings
      %li
        %a{:href => list_phone_numbers_path(@list)} Members
      %li
        %a{:href => list_messages_path(@list)} Messages
  - else
    %a{:href => new_list_path} Create New List
