%div#top_nav
  %ul
    %li{:class => active_nav('/admin/dashboard')} 
      %a{:href => '/admin/dashboard'} Dashboard
    %li{:class => active_nav('/admin/compose')} 
      %a{:href=> '/admin/compose'} Compose a Message
    %li{:class => active_nav('/admin/manage')} 
      %a{:href => '/admin/manage'} Manage &amp; Create Lists
    %li{:class => active_nav('/admin/members')}
      %a{:href => '/admin/members'} Manage List Members
    %li{:class => active_nav('/admin/responses')}
      %a{:href => '/admin/responses'} Manage Responses
