#select_list
  = render :partial => 'list_lists', :locals => {:action => 'compose_message'}

#col2
  %div#compose_message{:style => 'display: inline'}
  %div#recent_messages{:style => 'display: inline'}

#col3
