#select_list
  Which List?
  %br
  = select_list

#col2
  List Membership
  %br
  %select{:multiple => "multiple", :size => 20}
    %option{:value => 1}Option 1

#col3
  = render :partial => 'add_contact'
