@charset "UTF-8";
/* line 14, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../app/stylesheets/partials/_page.sass */
body {
  text-align: center;
  background: #282828;
}

/* line 5, ../../app/stylesheets/partials/_page.sass */
#site-container {
  margin: 20px auto;
  max-width: 100%;
  overflow: visible;
  position: relative;
  width: 865px;
}

/* line 12, ../../app/stylesheets/partials/_page.sass */
#site {
  width: 811px;
  display: inline;
  float: left;
  margin-bottom: 20px;
  padding-bottom: 12px;
}

/* line 19, ../../app/stylesheets/partials/_page.sass */
#bottom-shadow {
  background: #333333 url("/images/bg-btm-left-triangle.png") no-repeat;
  height: 54px;
}

/* line 23, ../../app/stylesheets/partials/_page.sass */
#side-shadow {
  display: inline;
  float: left;
}
/* line 26, ../../app/stylesheets/partials/_page.sass */
#side-shadow .top {
  background: black url("/images/bg-top-rt-triangle.png") no-repeat;
  width: 54px;
  min-height: 733px;
  margin-top: 19px;
}
/* line 31, ../../app/stylesheets/partials/_page.sass */
#side-shadow .bottom {
  width: 54px;
  height: 54px;
  background: #333333 url("/images/bg-btm-rt-triangle.png") no-repeat;
}

/* line 36, ../../app/stylesheets/partials/_page.sass */
#masthead {
  width: 811px;
}

/* line 39, ../../app/stylesheets/partials/_page.sass */
.logo {
  display: none;
}

/* line 42, ../../app/stylesheets/partials/_page.sass */
.flash_notice {
  text-align: left;
  margin: 0 auto;
  border: 1px solid red;
  width: 792px;
  display: none;
  color: red;
}

/* line 50, ../../app/stylesheets/partials/_page.sass */
#content-container {
  font-family: DINPro, Arial, sans-serif;
  margin: 0 auto;
  text-align: left;
  height: 553px;
  background: white url(/images/dots-vertical.png) repeat-y 0 17px;
}

/* line 58, ../../app/stylesheets/partials/_page.sass */
#footer {
  width: 811px;
  background: black url(/images/dots-footer.jpg) no-repeat 8px 4px;
  height: 28px;
  text-transform: uppercase;
  font-size: 14px;
  font-family: DINPro;
}
/* line 65, ../../app/stylesheets/partials/_page.sass */
#footer ul {
  float: right;
  margin-right: 6px;
}
/* line 68, ../../app/stylesheets/partials/_page.sass */
#footer ul li {
  list-style-type: none;
}
/* line 5, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_inline-list.scss */
#footer ul li, #footer ul li li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 70, ../../app/stylesheets/partials/_page.sass */
#footer a {
  text-decoration: none;
  display: inline;
  float: left;
  margin: 5px 8px 0;
  color: red;
}
/* line 4, ../../../../../../usr/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
#footer a:hover {
  text-decoration: underline;
}

/* line 77, ../../app/stylesheets/partials/_page.sass */
#logout {
  float: right;
}

/* line 80, ../../app/stylesheets/partials/_page.sass */
#content {
  overflow: hidden;
  *zoom: 1;
  margin: 0 5px;
  padding: 20px 15px;
  background: white;
}
/* line 85, ../../app/stylesheets/partials/_page.sass */
#content h3 {
  color: #ff4d1d;
  font-size: 18px;
  font-weight: bold;
  float: left;
  width: 100%;
}

/* line 92, ../../app/stylesheets/partials/_page.sass */
#new-message {
  margin-right: 20px;
  padding: 15px;
  width: 393px;
  height: 400px;
  float: left;
  overflow: hidden;
  border: 7px solid black;
}
/* line 100, ../../app/stylesheets/partials/_page.sass */
#new-message form {
  height: 400px;
  width: 393px;
  position: relative;
}
/* line 104, ../../app/stylesheets/partials/_page.sass */
#new-message form textarea {
  margin-top: 8px;
  padding: 6px;
  width: 379px;
  height: 200px;
  border: 1px solid #333333;
  float: left;
}
/* line 111, ../../app/stylesheets/partials/_page.sass */
#new-message form button.send-image {
  background: url(/images/send.png) no-repeat bottom right;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 76px;
  height: 46px;
}
/* line 121, ../../app/stylesheets/partials/_page.sass */
#new-message button.send-image {
  background: url(/images/send.png) no-repeat bottom right;
  border: none;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  right: 0;
  bottom: 0;
  width: 76px;
  height: 46px;
}

/* line 132, ../../app/stylesheets/partials/_page.sass */
.view a {
  display: inline;
  float: right;
  font-weight: bold;
  color: #009ad6;
  font-size: 14px;
}

/* line 137, ../../app/stylesheets/partials/_page.sass */
#recent-messages {
  padding: 15px;
  float: left;
  overflow: hidden;
  border: 7px solid black;
  width: 270px;
  height: 245px;
  position: relative;
}
/* line 145, ../../app/stylesheets/partials/_page.sass */
#recent-messages .view a {
  display: inline;
  float: left;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

/* line 151, ../../app/stylesheets/partials/_page.sass */
#dots {
  background: url(/images/dot.png);
  float: left;
  width: 307px;
  margin-top: 25px;
  min-height: 130px;
}

/* line 158, ../../app/stylesheets/partials/_page.sass */
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline;
  font-size: 1.5em;
}

/* line 164, ../../app/stylesheets/partials/_page.sass */
h4 {
  margin-bottom: 8px;
  color: #009ad6;
  font-family: "DINPro", Arial, sans-serif;
  font-weight: bold;
}

/* line 170, ../../app/stylesheets/partials/_page.sass */
.active {
  background: white;
}

/* line 173, ../../app/stylesheets/partials/_page.sass */
p {
  margin: 5px 10px;
}

/* line 176, ../../app/stylesheets/partials/_page.sass */
textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 180, ../../app/stylesheets/partials/_page.sass */
.active_list {
  background: #aaaaaa;
}

/* line 183, ../../app/stylesheets/partials/_page.sass */
a {
  text-decoration: none;
}

/* line 186, ../../app/stylesheets/partials/_page.sass */
.red {
  color: red;
}

/* line 1, ../../app/stylesheets/partials/_admin.sass */
#masthead_dynamic {
  position: absolute;
  top: 145px;
  left: 20px;
}

/* line 6, ../../app/stylesheets/partials/_admin.sass */
#create_list {
  display: inline;
}

/* line 9, ../../app/stylesheets/partials/_admin.sass */
#select_list {
  display: inline;
  float: left;
  top: 10px;
  width: 100%;
  position: relative;
  height: auto;
  overflow: hidden;
}
/* line 16, ../../app/stylesheets/partials/_admin.sass */
#select_list h4 {
  display: inline;
  float: left;
  margin: 0 10px 0 0;
  font-size: 18px;
}

/* line 23, ../../app/stylesheets/partials/_admin.sass */
#selectlist {
  font-weight: bold;
  width: auto;
}
/* line 26, ../../app/stylesheets/partials/_admin.sass */
#selectlist li {
  padding: 3px;
  margin: 1px;
}
/* line 29, ../../app/stylesheets/partials/_admin.sass */
#selectlist li a {
  color: #009ad6;
}
/* line 31, ../../app/stylesheets/partials/_admin.sass */
#selectlist li a:hover {
  cursor: default;
}

/* line 34, ../../app/stylesheets/partials/_admin.sass */
#message-options {
  display: inline;
  float: left;
  margin-top: 20px;
  width: 100%;
}
/* line 38, ../../app/stylesheets/partials/_admin.sass */
#message-options legend {
  font-weight: bold;
  line-height: 1.6;
  font-size: 18px;
}
/* line 42, ../../app/stylesheets/partials/_admin.sass */
#message-options label {
  font-size: 14px;
}

/* line 45, ../../app/stylesheets/partials/_admin.sass */
.aqua {
  color: #009ad6;
}

/* line 48, ../../app/stylesheets/partials/_admin.sass */
.choose_list_icon {
  display: inline;
  float: right;
}

/* line 51, ../../app/stylesheets/partials/_admin.sass */
.remove_member_icon {
  display: inline;
  float: right;
  display: none;
}

/* line 56, ../../app/stylesheets/partials/_admin.sass */
#member_list li {
  padding: 3px;
}
/* line 58, ../../app/stylesheets/partials/_admin.sass */
#member_list li:hover {
  cursor: default;
  background-color: #aaaaaa;
}
/* line 61, ../../app/stylesheets/partials/_admin.sass */
#member_list li:hover .remove_member_icon {
  display: inline;
}

/* line 65, ../../app/stylesheets/partials/_admin.sass */
.toggle span {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  padding: 8px;
  margin-top: -25px;
}
/* line 74, ../../app/stylesheets/partials/_admin.sass */
.toggle:hover span {
  display: inline;
}

/* line 77, ../../app/stylesheets/partials/_admin.sass */
#show_member_list {
  display: inline;
  float: left;
  width: 350px;
  padding: 5px;
  margin-top: 20px;
}

/* line 83, ../../app/stylesheets/partials/_admin.sass */
#send_message_button {
  display: inline;
  float: left;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid black;
  font-size: 2em;
  font-family: sans-serif;
  cursor: pointer;
  width: 150px;
  text-align: center;
}
/* line 94, ../../app/stylesheets/partials/_admin.sass */
#send_message_button:hover {
  background-color: #99ffff;
}

/* line 97, ../../app/stylesheets/partials/_admin.sass */
#confirmed_send_message_button {
  display: inline;
  float: right;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid black;
  font-size: 2em;
  font-family: sans-serif;
  cursor: pointer;
  width: 150px;
  text-align: center;
}
/* line 108, ../../app/stylesheets/partials/_admin.sass */
#confirmed_send_message_button:hover {
  background-color: #99ffff;
}

/* line 111, ../../app/stylesheets/partials/_admin.sass */
.config_heading {
  font-size: 1.25em;
}

/* line 114, ../../app/stylesheets/partials/_admin.sass */
.create_list_options {
  padding: 5px;
}
/* line 116, ../../app/stylesheets/partials/_admin.sass */
.create_list_options li {
  padding: 5px;
}
/* line 118, ../../app/stylesheets/partials/_admin.sass */
.create_list_options li .list_option {
  font-weight: bold;
}

/* line 121, ../../app/stylesheets/partials/_admin.sass */
#character_count {
  display: inline;
  float: right;
  padding-right: 10px;
  width: 40px;
}

/* line 126, ../../app/stylesheets/partials/_admin.sass */
.dinpro {
  font-family: "DINPro", Arial, sans-serif;
}

/* line 129, ../../app/stylesheets/partials/_admin.sass */
#message_body_preview {
  border: 4px solid grey;
  padding: 8px;
  margin: 5px;
}

/* line 1, ../../app/stylesheets/partials/_nav.sass */
#buttons {
  height: 67px;
  width: 811px;
}
/* line 5, ../../app/stylesheets/partials/_nav.sass */
#buttons ul li.main-menu {
  display: inline;
  float: left;
}
/* line 8, ../../app/stylesheets/partials/_nav.sass */
#buttons ul li.main-menu a {
  float: left;
  height: 67px;
}
/* line 11, ../../app/stylesheets/partials/_nav.sass */
#buttons ul li.main-menu a span {
  display: none;
}
/* line 13, ../../app/stylesheets/partials/_nav.sass */
#buttons ul li.main-menu a.message {
  width: 297px;
  background: url("/images/newmessage.png") no-repeat;
}
/* line 16, ../../app/stylesheets/partials/_nav.sass */
#buttons ul li.main-menu a.message:hover {
  background: url("/images/newmessage-mo.png") no-repeat;
}
/* line 18, ../../app/stylesheets/partials/_nav.sass */
#buttons ul li.main-menu a.user {
  width: 262px;
  background: #333333 url("/images/newuser.png") no-repeat;
}
/* line 21, ../../app/stylesheets/partials/_nav.sass */
#buttons ul li.main-menu a.user:hover {
  background: #86ccb2 url("/images/newuser-mo.png") no-repeat;
}

/* line 24, ../../app/stylesheets/partials/_nav.sass */
#menu {
  float: right;
  display: block;
  width: 252px;
}
/* line 28, ../../app/stylesheets/partials/_nav.sass */
#menu a.lists {
  background: #009ad6 url("/images/lists.png") no-repeat;
  font-size: 1.3em;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 252px;
  float: left;
}
/* line 37, ../../app/stylesheets/partials/_nav.sass */
#menu a.lists:hover {
  background: #bde5f1 url("/images/lists-mo.png") no-repeat;
}
/* line 39, ../../app/stylesheets/partials/_nav.sass */
#menu #list_name {
  margin: 10px 0 0 0;
}
/* line 41, ../../app/stylesheets/partials/_nav.sass */
#menu #switch_list {
  font-family: "DINPRO", Arial, sans-serif;
  color: white;
  background: white;
  float: right;
  width: 252px;
  position: absolute;
}
/* line 49, ../../app/stylesheets/partials/_nav.sass */
#menu #switch_list:hover span {
  display: block;
}
/* line 51, ../../app/stylesheets/partials/_nav.sass */
#menu #switch_list span {
  display: none;
  z-index: 100;
  position: relative;
  margin-top: 20px;
  margin-left: 0;
  width: 252px;
}
/* line 58, ../../app/stylesheets/partials/_nav.sass */
#menu #switch_list span h3 {
  background: #ff4d1d;
  color: white;
  width: 252px;
  text-align: center;
  font-size: 1.3em;
  padding: 6px 0 4px;
  float: left;
  margin: 0;
}
/* line 68, ../../app/stylesheets/partials/_nav.sass */
#menu #switch_list span li a {
  color: black;
  background: white;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
  width: 251px;
  height: auto;
  padding: 6px 0 4px;
}
/* line 77, ../../app/stylesheets/partials/_nav.sass */
#menu #switch_list span li a:hover {
  color: red;
}
/* line 79, ../../app/stylesheets/partials/_nav.sass */
#menu #switch_list span li:first-child a {
  border-top: 8px solid black;
}
/* line 81, ../../app/stylesheets/partials/_nav.sass */
#menu #switch_list span li:last-child a {
  border-bottom: 8px solid black;
}
/* line 84, ../../app/stylesheets/partials/_nav.sass */
#menu #current_list {
  background-color: white;
  border: 1px solid black;
  padding: 5px;
}

/* line 90, ../../app/stylesheets/partials/_nav.sass */
#sidebar_message_list {
  margin-top: 20px;
  border: 3px solid black;
  width: 90%;
  margin-left: -10px;
  padding: 10px;
  height: 225px;
  background-color: white;
}
/* line 100, ../../app/stylesheets/partials/_nav.sass */
#sidebar_message_list ul {
  height: 150px;
  overflow: hidden;
  margin: 10px 0 15px 0;
}
/* line 104, ../../app/stylesheets/partials/_nav.sass */
#sidebar_message_list ul li {
  margin-top: 5px;
}
/* line 107, ../../app/stylesheets/partials/_nav.sass */
#sidebar_message_list p.next {
  text-align: center;
}

@import url(partials/notify.css);
