/* line 14, ../../../../../../opt/ruby-enterprise-1.8.7-2010.02/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../opt/ruby-enterprise-1.8.7-2010.02/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../opt/ruby-enterprise-1.8.7-2010.02/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../opt/ruby-enterprise-1.8.7-2010.02/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../opt/ruby-enterprise-1.8.7-2010.02/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../opt/ruby-enterprise-1.8.7-2010.02/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../opt/ruby-enterprise-1.8.7-2010.02/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../opt/ruby-enterprise-1.8.7-2010.02/lib/ruby/gems/1.8/gems/compass-0.10.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 2, ../../app/stylesheets/partials/_nav.scss */
#buttons li {
  text-align: center;
  display: inline;
  float: left;
}
/* line 6, ../../app/stylesheets/partials/_nav.scss */
#buttons li a {
  display: inline-block;
  width: 263px;
  padding: 15px 0 15px 0;
  background-color: #00FF33;
  border-bottom: 1px solid black;
  color: black;
  font-weight: bold;
  font-family: sans-serif;
}
/* line 15, ../../app/stylesheets/partials/_nav.scss */
#buttons li a.middle {
  border-right: 1px solid black;
  border-left: 1px solid black;
}
/* line 19, ../../app/stylesheets/partials/_nav.scss */
#buttons li a:hover {
  background-color: #006600;
}

/* line 26, ../../app/stylesheets/partials/_nav.scss */
#menu {
  float: right;
  display: block;
  width: 263px;
  height: 350px;
}

/* line 33, ../../app/stylesheets/partials/_nav.scss */
#sidebar_message_list {
  border: 3px solid black;
  width: 90%;
  margin-left: -10px;
  padding: 10px;
  height: 225px;
  background-color: white;
}
/* line 34, ../../app/stylesheets/partials/_nav.scss */
#sidebar_message_list ul {
  height: 150px;
  overflow: hidden;
  margin: 10px 0 15px 0;
}
/* line 38, ../../app/stylesheets/partials/_nav.scss */
#sidebar_message_list ul li {
  margin-top: 5px;
}
/* line 42, ../../app/stylesheets/partials/_nav.scss */
#sidebar_message_list p.next {
  text-align: center;
}

/* line 1, ../../app/stylesheets/partials/_page.sass */
body {
  text-align: center;
}

/* line 4, ../../app/stylesheets/partials/_page.sass */
#masthead {
  margin: 10px auto 0 auto;
  background-color: white;
  height: 50px;
  border: 1px solid black;
  border-bottom: 0px;
  width: 791px;
  text-align: left;
}

/* line 13, ../../app/stylesheets/partials/_page.sass */
.flash_notice {
  text-align: left;
  margin: 0 auto;
  border: 1px solid red;
  width: 792px;
  display: none;
}

/* line 20, ../../app/stylesheets/partials/_page.sass */
#content_container {
  margin: 0 auto;
  border: 1px solid black;
  background: #eeeeee;
  width: 791px;
  text-align: left;
}

/* line 27, ../../app/stylesheets/partials/_page.sass */
#footer {
  margin: 20px;
  width: 792px;
  margin: 20px auto;
}

/* line 32, ../../app/stylesheets/partials/_page.sass */
#logout {
  float: right;
}

/* line 35, ../../app/stylesheets/partials/_page.sass */
#content {
  margin: 60px 15px 15px 15px;
  padding: 15px;
  width: 450px;
  height: 300px;
  overflow: auto;
  border: 3px solid black;
  background: white;
}

/* line 44, ../../app/stylesheets/partials/_page.sass */
#select_list {
  top: 10px;
  width: 200px;
  float: left;
  position: relative;
  padding-left: 10px;
  height: 500px;
  overflow: auto;
}

/* line 53, ../../app/stylesheets/partials/_page.sass */
h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline;
  font-size: 1.5em;
}

/* line 59, ../../app/stylesheets/partials/_page.sass */
.active {
  background: white;
}

/* line 62, ../../app/stylesheets/partials/_page.sass */
p {
  margin: 5px 10px;
}

/* line 65, ../../app/stylesheets/partials/_page.sass */
textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 69, ../../app/stylesheets/partials/_page.sass */
.active_list {
  background: #aaaaaa;
}

/* line 72, ../../app/stylesheets/partials/_page.sass */
a {
  text-decoration: none;
}

/* line 75, ../../app/stylesheets/partials/_page.sass */
.red {
  color: red;
}

/* line 1, ../../app/stylesheets/partials/_admin.scss */
#create_list {
  display: inline;
}

/* line 5, ../../app/stylesheets/partials/_admin.scss */
#selectlist {
  padding: 5px;
  border: 1.5px solid grey;
  margin-right: 20px;
  margin-top: 20px;
}
/* line 10, ../../app/stylesheets/partials/_admin.scss */
#selectlist li {
  padding: 3px;
  margin: 1px;
}
/* line 13, ../../app/stylesheets/partials/_admin.scss */
#selectlist li:hover {
  cursor: default;
  background-color: #aaa;
}

/* line 20, ../../app/stylesheets/partials/_admin.scss */
.choose_list_icon {
  float: right;
}

/* line 24, ../../app/stylesheets/partials/_admin.scss */
.remove_member_icon {
  float: right;
  display: none;
}

/* line 30, ../../app/stylesheets/partials/_admin.scss */
#member_list li {
  padding: 3px;
}
/* line 32, ../../app/stylesheets/partials/_admin.scss */
#member_list li:hover {
  cursor: default;
  background-color: #aaa;
}
/* line 35, ../../app/stylesheets/partials/_admin.scss */
#member_list li:hover .remove_member_icon {
  display: inline;
}

/* line 42, ../../app/stylesheets/partials/_admin.scss */
#show_member_list {
  width: 200px;
  padding: 5px;
  float: left;
  margin-top: 20px;
}

/* line 49, ../../app/stylesheets/partials/_admin.scss */
#send_message_button {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid black;
  font-size: 2em;
  font-family: sans-serif;
  cursor: pointer;
  width: 150px;
  text-align: center;
}
/* line 59, ../../app/stylesheets/partials/_admin.scss */
#send_message_button:hover {
  background-color: #99FFFF;
}

/* line 64, ../../app/stylesheets/partials/_admin.scss */
.config_heading {
  font-size: 1.25em;
}

/* line 68, ../../app/stylesheets/partials/_admin.scss */
.create_list_options {
  padding: 5px;
}
/* line 70, ../../app/stylesheets/partials/_admin.scss */
.create_list_options li {
  padding: 5px;
}
/* line 72, ../../app/stylesheets/partials/_admin.scss */
.create_list_options li .list_option {
  font-weight: bold;
}

/* line 78, ../../app/stylesheets/partials/_admin.scss */
#character_count {
  float: right;
}
