/* line 14, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 1, ../../app/stylesheets/partials/_nav.scss */
#top_nav {
  display: inline;
}
/* line 3, ../../app/stylesheets/partials/_nav.scss */
#top_nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 8, ../../../../../../var/lib/gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/lists/_inline-list.scss */
#top_nav ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 5, ../../app/stylesheets/partials/_nav.scss */
#top_nav ul li {
  margin: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
}

/* line 1, ../../app/stylesheets/partials/_page.sass */
body {
  text-align: center;
}

/* line 4, ../../app/stylesheets/partials/_page.sass */
#masthead {
  margin: 20px auto;
  background-color: white;
  height: 50px;
  border: 1px solid black;
  width: 790px;
  padding: 5px;
  text-align: left;
}

/* line 13, ../../app/stylesheets/partials/_page.sass */
.flash_notice {
  text-align: left;
  margin: 20px auto;
  padding: 5px;
  border: 1px solid red;
  width: 790px;
}

/* line 20, ../../app/stylesheets/partials/_page.sass */
#content_container {
  margin: 20px auto;
  padding: 5px;
  border: 1px solid black;
  background: #eeeeee;
  width: 790px;
  text-align: left;
}

/* line 28, ../../app/stylesheets/partials/_page.sass */
#footer {
  margin: 20px;
  width: 790px;
  margin: 20px auto;
}

/* line 33, ../../app/stylesheets/partials/_page.sass */
#logout {
  float: right;
}

/* line 36, ../../app/stylesheets/partials/_page.sass */
#content {
  margin: 15px;
  border: 1px solid black;
  width: 750px;
  padding-bottom: 20px;
  height: 500px;
}

/* line 43, ../../app/stylesheets/partials/_page.sass */
#select_list {
  top: 10px;
  width: 200px;
  float: left;
  position: relative;
  padding-left: 10px;
  height: 500px;
}

/* line 52, ../../app/stylesheets/partials/_page.sass */
h3 {
  margin-top: 5px;
  margin-bottom: 10px;
  display: inline;
  font-size: 1.5em;
}

/* line 58, ../../app/stylesheets/partials/_page.sass */
#col2 {
  top: auto;
  width: 275px;
  left: auto;
  position: absolute;
  display: inline;
  padding: 10px 5px 0 0;
}

/* line 67, ../../app/stylesheets/partials/_page.sass */
#col3 {
  top: 10px;
  width: 275px;
  float: right;
  position: relative;
}

/* line 74, ../../app/stylesheets/partials/_page.sass */
#col2-3 {
  width: 550px;
  position: absolute;
  top: auto;
  left: auto;
  display: inline;
  padding: 10px 5px;
}
/* line 81, ../../app/stylesheets/partials/_page.sass */
#col2-3 form {
  padding-top: 10px;
}
/* line 83, ../../app/stylesheets/partials/_page.sass */
#col2-3 ul {
  padding: 10px 0;
}

/* line 86, ../../app/stylesheets/partials/_page.sass */
.active {
  background: white;
}

/* line 89, ../../app/stylesheets/partials/_page.sass */
p {
  margin: 5px 10px;
}

/* line 92, ../../app/stylesheets/partials/_page.sass */
textarea {
  margin-top: 20px;
}

/* line 95, ../../app/stylesheets/partials/_page.sass */
.active_list {
  background: #aaaaaa;
}

/* line 1, ../../app/stylesheets/partials/_admin.scss */
#create_list {
  display: inline;
}

/* line 5, ../../app/stylesheets/partials/_admin.scss */
#selectlist {
  padding: 5px;
  border: 1.5px solid grey;
  margin-right: 20px;
  margin-top: 20px;
}
/* line 10, ../../app/stylesheets/partials/_admin.scss */
#selectlist li {
  padding: 3px;
  margin: 1px;
}
/* line 13, ../../app/stylesheets/partials/_admin.scss */
#selectlist li:hover {
  cursor: default;
  background-color: #aaa;
}

/* line 20, ../../app/stylesheets/partials/_admin.scss */
.choose_list_icon {
  float: right;
}

/* line 24, ../../app/stylesheets/partials/_admin.scss */
.remove_member_icon {
  float: right;
  display: none;
}

/* line 30, ../../app/stylesheets/partials/_admin.scss */
#member_list li {
  padding: 3px;
}
/* line 32, ../../app/stylesheets/partials/_admin.scss */
#member_list li:hover {
  cursor: default;
  background-color: #aaa;
}
/* line 35, ../../app/stylesheets/partials/_admin.scss */
#member_list li:hover .remove_member_icon {
  display: inline;
}

/* line 42, ../../app/stylesheets/partials/_admin.scss */
#show_member_list {
  width: 200px;
  padding: 5px;
  float: left;
  margin-top: 20px;
}

/* line 49, ../../app/stylesheets/partials/_admin.scss */
#send_message_button {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px solid black;
  font-size: 2em;
  font-family: sans-serif;
  cursor: pointer;
  width: 150px;
  text-align: center;
}
/* line 59, ../../app/stylesheets/partials/_admin.scss */
#send_message_button:hover {
  background-color: #99FFFF;
}

/* line 64, ../../app/stylesheets/partials/_admin.scss */
.config_heading {
  font-size: 1.25em;
}

/* line 68, ../../app/stylesheets/partials/_admin.scss */
.create_list_options {
  padding: 5px;
}
/* line 70, ../../app/stylesheets/partials/_admin.scss */
.create_list_options li {
  padding: 5px;
}
/* line 72, ../../app/stylesheets/partials/_admin.scss */
.create_list_options li .list_option {
  font-weight: bold;
}
