.page#page_about
  %h2 About Switchboard
  %p Switchboard is a quick and easy way for organizations to stay in touch with their members via SMS text messaging: sending messages, holding discussions and making announcements to groups both big and small. Switchboard was built by and for grassroots organizing and is designed to meet the particular needs of groups reaching their constituencies via text message. 
  %p
    Switchboard is open-source software. The
    %a{href: 'https://github.com/switchboard/switchboard'} Switchboard source code
    is on Github.