#show_members
  #show_member_list
    - if @list.try(:list_type) == 'announcement'
      %p * checkbox indicates approved sender
    %table#member_list.default.linked
      %tbody
        = render @phone_numbers
    = paginate @phone_numbers