- if @list
  #actions
    = link_to add_icon('Add member', :user), new_list_contact_path(@list), class: 'button'
    = link_to add_icon('Import contacts', :upload), import_list_path(@list), class: 'button'

#show_member_list
  - unless @list.try(:all_users_can_send_messages)
    %p * checkbox indicates approved sender
  %table#member_list.default.linked
    %tbody
      = render @phone_numbers
  = paginate @phone_numbers