#show_members
  #show_member_list
    - if @list.try(:all_users_can_send_messages) == false
      %p * checkbox indicates approved sender
    %table#member_list.default.linked
      %tbody
        = render @phone_numbers
    = paginate @phone_numbers