@import "partials/_colors";

table.admin {
  width: 100%;
  th, td {
    padding: .2em .3em;
  }
  th {
    background: #def;
    padding: .3em .3em;
  }
}


table.organization_lists {
  tr.inactive {
    td {
      color: $textFade;
      a {
        color: $textFade!important;
        text-decoration: none!important;
      }
    }
  }

}