@import "partials/_colors";
@import "compass/css3/transition";

button.button,
input.button {
  margin-bottom: 0; // For input.btn
}

a.button,
button.button {
  background-color: $blueButton;
  display: inline-block;
  padding: .4em .5em;
  color: #fff!important;
  text-decoration: none;
  @include transition(background-color 0.1s ease);
  border: none;
  font-size: 14px;

  &:hover {
    background-color: darken($blueButton, 15%);
  }

  i.fa {
    margin-right: 5px;
  }
}

.button.submit {
  margin-top: 1em;
  margin-bottom: .5em;
}

.button.disabled,
button[disabled] {
  cursor: default;
  background-image: none;
  color: #eee!important;
  background-color: darken($white, 15%)!important;
  outline: none;
}

ul.actions {
  margin: 2em 0 2em 1.5em;
  li {
    list-style-type: disc;
    margin-bottom: .5em;
  }
}