@import "compass/utilities";
@import "partials/_colors";

ul#main_menu {
  /* Thanks, Paul. */
  * { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

  @include clearfix;

  $menuHeight: 34px;
  background: $menuBackground;
  height: $menuHeight;
  font-size: 17px;
  li {
    display: inline;
  }
  li a, li span {
    color: #fff;
    float: left;
    padding: 9px 10px 0;
    height: $menuHeight;
    text-decoration: none;
  }
  i.fa {
    margin-right: 3px;
  }
  li.current a,
  li a:hover {
    background-color: $orangeButton!important;
  }
  li.admin {
    position: absolute;
    right: 54px;
  }
  li.lists {
    > a,
    > span {
      font-weight: bold;
      background-color: $blueButton;
      padding-left: 12px;
      padding-right: 12px;
      border-right: 2px solid #fff;
      &:hover {
        background-color: $blueButtonHighlight!important;
        color: $menuBackground;
      }
    }
    ul {
      background: $menuBackground!important;
      display: none;
      position: absolute;
      margin-top: $menuHeight;
      z-index: 100;
      a {
        clear: left;
        width: 100%;
        &:hover {
          background-color: #bde5f1!important;
          color: $menuBackground;
        }
      }
    }
    &:hover ul {
      display: block;
    }
  }
}