@import 'partials/colors';
@import "compass/css3/border-radius";

table.messages {
  .status {
    text-indent: 0;
    display: inline-block;
    padding: .2em;
    font-size: .9em;
    vertical-align: top;
    background: $backgroundGreen;
    color: #fff;
    @include border-radius(5px);
  }
}