@import 'partials/colors';

table.default {
  width: 100%;
  thead {
    th {
      color: $grayLight;
    }
  }
  td {
    padding: 3px 4px;
    color: $grayDarker;
  }
  td.num, th.num {
    text-align: right;
  }
}

table.linked {
  a.clk {
    color: $grayDarker;
  }
  tr:hover {
    td {
      cursor: pointer;
      background-color: $grayLightest;
    }
  }
}