#notice
  .flash

    %p{:style => "border:1px solid #fd9b5b; padding: 8px; padding-bottom: 4px; padding-top: 4px; background: #fee37a; "}= flash[:notice]

-# [:notice, :error, :success].each do |key|
-#  - unless flash[key].blank?
-#    %p{ :class => "flash #{key}" }= flash[key] 
-#
