#masthead
  %h1.logo= link_to 'Switchboard', '/'

  #masthead_dynamic
    #current_list
    - if current_user
      Hi,
      = link_to current_user.name, edit_profile_path
      = ' | '
      = link_to current_organization.name, current_organization